{% extends "base.html" %}
{% load markup %}

{% block title %}{{ flatpage.title }}{% endblock %}


{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="/">Bessst</a></li>
    </ul>
    <ul id="navi">
        <li><a class="selected" href="/over/">Over</a></li>
        <li><a href="/projects/">Projecten</a></li>
        <li><a href="#">Inspiratie</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Agenda</a></li>
    </ul>
    <ul id="lan">
        <li><a class="selected" href="#">nl</a></li>
        <li><a href="#">en</a></li>
        <li><a href="#">fr</a></li>
    </ul>
</nav>

{% endblock %}




{% block header %}
<h1 class="stairs">{{ flatpage.title }}</h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box tail">
    {{ flatpage.content|markdown:"headerid" }}
</section>

<section id="right">
  <dl id="metadata" class="box">
    <dt>Contact</dt>
    <dd>
      <ul>
        <li>Christel Dusoleil</li>
        <li>projectleider Waerbeke</li>
        <li>0474 92 01 12</li>
        <li>christel@bessst.be</li>
        <li>Els De Greef</li>
        <li>projectleider VGC</li>
        <li>0475 56 56 23</li>
        <li>els.degreef@vgc.be</li>
      </ul>
    </dd>
  </dl>
</section>

{% endblock %}


{% block footer %}
<footer>
    <div class="prev">
        <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
    </div>
    <div id="caption-list">
        <div class="caption visible" title="/static/images/Plaatsen_Kunstberg_01_s.jpg">
            Koppel op de kunstberg (© Brulselbinnenstebuiten)
        </div>
        <div class="caption" title="/static/images/Atelier_Geo_de_Vlamynck_07_s.jpg">
            © Philippe Debroe
        </div>
        <div class="caption" title="/static/images/waerbeke_s.jpg">
            Waerbeke
        </div>
        <div class="caption" title="/static/images/Plaatsen_Kleine Zavel_03_s.jpg">
            © Philippe Debroe
        </div>
    </div>
    <div class="next">
        <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
    </div>
</footer>

<script>
    $(window).load(function(){
        // applies "Tailing/Queue de lampe" filter
        $(".tail").tailing();

        // Toggle boxes when hovering caption box
        $("footer div#caption-list").hover(function(){
                $("section").css("visibility", "hidden");
                $("header").hide();
                $("#background-gradient").hide();
            }, function(){
                $("section").css("visibility", "visible");
                $("header").show();
                $("#background-gradient").show();
        });
        // Navigate through images
        $("footer div.prev").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.prev().hasClass("caption")){
                current.prev().addClass("visible");
                $(".background-image").attr("src", current.prev().attr("title"));
            } else {
                last = $("div#caption-list div.caption:last-child").addClass("visible");
                last.addClass("visible");
                $(".background-image").attr("src", last.attr("title"));
            }
        });
        $("footer div.next").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.next().hasClass("caption")){
                current.next().addClass("visible");
                $(".background-image").attr("src", current.next().attr("title"));
            } else {
                first = $("div#caption-list div.caption:first-child")
                first.addClass("visible");
                $(".background-image").attr("src", first.attr("title"));
            }
        });
    });
</script>
{% endblock %}


{% block background %}
    <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div> 
    <img class="background-image" src="{{ STATIC_URL }}images/Plaatsen_Kunstberg_01_s.jpg" style="width: 100%;"/>
{% endblock %}
