{% extends "base.html" %}
{% load markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block slug %}{{ flatpage.slug }}{% endblock %}

{% block header %}
<h1 class="stairs">{{ flatpage.title }}</h1>
{% endblock header%}

{% block content %}
<section id="main" class="over big" style="width: 45%; float: left;">
    {{ flatpage.content|markdown }}
</section>

{% if flatpage.infobox %}
    <section id="right">
      <div id="metadata" class="box">
        {{ flatpage.infobox|markdown }}
      </div>
    </section>
{% endif %}
{% endblock %}


{% block extra_js %}
<script>
    //$(".glossarium").click(function() {
    //    var popover = $('<div class="popover" />');
    //    popover.html($(this).attr('title'));
    //    popover.click(function(){
    //        $(this).remove()
    //    })
    //    
    //    popover.insertAfter($(this))
    //    popover.css('position','absolute')
    //})

    $(window).load(function(){
        // Make seperate boxes for the different elements
        $("h2").each(function(i) {
            // for each header, take the header and all the elements up to the next header
            // and wrap them in a .box div
            $(this).css("cursor", "pointer").add($(this).nextUntil("h2")).wrapAll($('<div class="box"></div>'))
            // for each header, take the next element and all the elements up to the next header
            // and wrap them in a .collapsed div
            $(this).next().add($(this).next().nextUntil("h2")).wrapAll($('<div class="collapsed"></div>'))
        }) 
        $("h2").click(function(){
            $(this).next().slideToggle("slow");
        });

        // applies "Tailing/Queue de lampe" filter
        $(".tail").tailing();

    });
</script>
{% endblock %}


{% block background %}
    <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div> 
    <img class="background-image" src="{{ flatpage.image_set.all.0.image.url }}" style="width: 100%;"/>
{% endblock %}
