{% extends "base.html" %}
{% load i18n utils markup thumbnails %}

{% block title %}{% get_trans flatpage title LANGUAGE_CODE %}{% endblock %}

{% block slug %}{{ flatpage.slug }}{% endblock %}

{% block header %}
<h1 class="stairs">{% get_trans flatpage title LANGUAGE_CODE %}</h1>
{% endblock header%}

{% block content %}
<section id="main" class="over big" style="width: 45%; float: left;">
    {% get_trans flatpage content LANGUAGE_CODE %}
</section>

{% if flatpage.infobox %}
    <section id="right">
      <div id="metadata" class="box">
        {% get_trans flatpage infobox LANGUAGE_CODE %}
      </div>
    </section>
{% endif %}
{% endblock %}


{% block extra_js %}
<script>
    //$(".glossarium").click(function() {
    //    var popover = $('<div class="popover" />');
    //    popover.html($(this).attr('title'));
    //    popover.click(function(){
    //        $(this).remove()
    //    })
    //    
    //    popover.insertAfter($(this))
    //    popover.css('position','absolute')
    //})

    $(window).load(function(){
        // Make seperate boxes for the different elements
        $("h2").each(function(i) {
            // for each header, take the header and all the elements up to the next header
            // and wrap them in a .box div
            $(this).css("cursor", "pointer").add($(this).nextUntil("h2")).wrapAll($('<div class="box"></div>'))
            // for each header, take the next element and all the elements up to the next header
            // and wrap them in a .collapsed div
            $(this).next().add($(this).next().nextUntil("h2")).wrapAll($('<div class="collapsed"></div>'))
        }) 
        $("h2").click(function(){
            $(this).next().slideToggle("slow");
        });

    });
</script>
{% endblock %}


{% block background %}
    <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div> 
    {#<img class="background-image" src="{{ flatpage.image_set.all.0.image|thumbnail:'1200w' }}" style="width: 100%;"/>#}
{% endblock %}

{% block footer %}
    {# making the block footer empty to remove image captions #}
{% endblock %}
