{% extends "base.html" %}
{% load markup %}

{% block title %}{{ flatpage.title }}{% endblock %}


{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="/">Bessst</a></li>
    </ul>
    <ul id="navi">
        <li><a class="selected" href="/over/">Over</a></li>
        <li><a href="/projects/">Projecten</a></li>
<!--        <li><a href="#">Inspiratie</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Agenda</a></li> -->
    </ul>
    <ul id="lan">
        <li><a class="selected" href="#">nl</a></li>
        <li><a href="#">en</a></li>
        <li><a href="#">fr</a></li>
    </ul>
</nav>

{% endblock %}




{% block header %}
<h1 class="stairs">{{ flatpage.title }}</h1>
{% endblock header%}

{% block content %}
<section id="main" class="over big" style="width: 45%; float: left;">
    {{ flatpage.content|safe }}
</section>

<section id="right">
  <dl id="metadata" class="box">
    <dt>Contact</dt>
    <dd>
        Christel Dusoleil,
        projectleider Waerbeke,
        0474 92 01 12,
        <a href="mailto:christel@bessst.be">christel@bessst.be</a> <br /><br />
    </dd>
    <dd>
        Els De Greef,
        projectleider VGC,
        0475 56 56 23,
        <a href="mailto:els.degreef@vgc.be">els.degreef@vgc.be</a>
    </dd>
  </dl>
</section>

{% endblock %}


{% block footer %}
<footer>
    <div class="prev">
        <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
    </div>
    <div id="caption-list">
        <div class="caption visible" title="/assets/images/Plaatsen_Kunstberg_01_s.jpg">
            Koppel op de kunstberg (© Brulselbinnenstebuiten)
        </div>
        <div class="caption" title="/assets/images/Atelier_Geo_de_Vlamynck_07_s.jpg">
            © Philippe Debroe
        </div>
        <div class="caption" title="/assets/images/waerbeke_s.jpg">
            Waerbeke
        </div>
        <div class="caption" title="/assets/images/Plaatsen_Kleine_Zavel_03_s.jpg">
            © Philippe Debroe
        </div>
    </div>
    <div class="next">
        <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
    </div>
</footer>

<script>
    $(".glossarium").click(function() {
    
    var popover = $('<div class="popover" />');
    popover.html($(this).attr('title'));
    popover.click(function(){
        $(this).remove()
    })
    
    popover.insertAfter($(this))
    popover.css('position','absolute')

    })

    $(window).load(function(){
        // Make seperate boxes for the different elements
        $("h2").each(function(i) {
            // for each header, take the header and all the elements up to the next header
            // and wrap them in a .box div
            $(this).css("cursor", "pointer").add($(this).nextUntil("h2")).wrapAll($('<div class="box"></div>'))
            // for each header, take the next element and all the elements up to the next header
            // and wrap them in a .collapsed div
            $(this).next().add($(this).next().nextUntil("h2")).wrapAll($('<div class="collapsed"></div>'))
        }) 
        $("h2").click(function(){
            $(this).next().toggle("slow");
        });

        // applies "Tailing/Queue de lampe" filter
        $(".tail").tailing();

        // Toggle boxes when hovering caption box
        $("footer div#caption-list").hover(function(){
                $("section").css("visibility", "hidden");
                $("header").hide();
                $("#background-gradient").hide();
            }, function(){
                $("section").css("visibility", "visible");
                $("header").show();
                $("#background-gradient").show();
        });
        // Navigate through images
        $("footer div.prev").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.prev().hasClass("caption")){
                current.prev().addClass("visible");
                $(".background-image").attr("src", current.prev().attr("title"));
            } else {
                last = $("div#caption-list div.caption:last-child").addClass("visible");
                last.addClass("visible");
                $(".background-image").attr("src", last.attr("title"));
            }
        });
        $("footer div.next").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.next().hasClass("caption")){
                current.next().addClass("visible");
                $(".background-image").attr("src", current.next().attr("title"));
            } else {
                first = $("div#caption-list div.caption:first-child")
                first.addClass("visible");
                $(".background-image").attr("src", first.attr("title"));
            }
        });
    });
</script>
{% endblock %}


{% block background %}
    <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div> 
    <img class="background-image" src="{{ MEDIA_URL }}images/Plaatsen_Kunstberg_01_s.jpg" style="width: 100%;"/>
{% endblock %}

