<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
    <script src="{{ STATIC_URL }}less-1.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script>
        
    <script>
    {% block positions %}
        var positions = [{"top":790,"left":750},{"top":390,"left":-172},{"top":180,"left":850},{"top":150,"left":970},{"top":30,"left":150},{"top":100,"left":500},{"top":706,"left":226.5},{"top":50,"left":226.5},{"top":225,"left":165.5},{"top":91,"left":365.5},{"top":101,"left":61.5},{"top":113,"left":317.5},{"top":91,"left":297.5},{"top":706,"left":226.5},{"top":806,"left":596.5},{"top":533,"left":369.5},{"top":450,"left":109.5},{"top":76,"left":715.5},{"top":21,"left":285.5},{"top":51,"left":26.5}]
    {% endblock %}
    </script>
    <script src="{{ STATIC_URL }}js/draggable.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tailing.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="/">Bessst</a></li>
    </ul>
    <ul id="navi">
        <li><a href="/over/">Over</a></li>
        <li><a href="/projects/">Projecten</a></li>
        <li><a href="#">Inspiratie</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Agenda</a></li>
    </ul>
    <ul id="lan">
        <li><a href="#">nl</a></li>
        <li><a href="#">en</a></li>
        <li><a href="#">fr</a></li>
    </ul>
</nav>

{% endblock %}


<div id="container">
    <header>
        {%  block header %}
        {%  endblock %}
    </header>

    {%  block content %}
        <section id="main">
        </section>
    {%  endblock %}
</div>

<figure>
    <img id="orig" src="{{ STATIC_URL }}images/Koningsplein-spiegelraam-1000.jpg" style="display: none; width: 100%;"/>
    <canvas id="background" width="1000" height="800"></canvas>
</figure>
<script>
    //Threshold Filter from html5rocks.com

    Filters = {};
    Filters.getPixels = function(img) {
        var c = this.getCanvas(img.width, img.height);
        var ctx = c.getContext('2d');
        ctx.drawImage(img, 0, 0);
        return ctx.getImageData(0,0,c.width,c.height);
    };

    Filters.getCanvas = function(w,h) {
        var c = document.createElement('canvas');
        c.width = w;
        c.height = h;
        return c;
    };

    Filters.filterImage = function(filter, image, var_args) {
        var args = [this.getPixels(image)];
        for (var i=2; i<arguments.length; i++) {
            args.push(arguments[i]);
        }
        return filter.apply(null, args);
    };

    Filters.threshold = function(pixels, threshold) {
        var d = pixels.data;
        for (var j=9; j>1; j-=1) {
              for (var i=0; i<j*d.length/10; i+=j) {
                var r = d[i];
                var g = d[i+1];
                var b = d[i+2];
                //var v = (0.2126*r + 0.7152*g + 0.0722*b >= threshold) ? 255 : 0;
                var v = (0.5126*r + 0.7152*g + 0.0722*b >= threshold) ? 255 : 0;
                d[i] = d[i+1] = d[i+2] = v
              }
        }
      return pixels;
    };

    var img = document.getElementById('orig');
    img.addEventListener('load', function() {
        function runFilter(id, filter, arg1, arg2, arg3) {
            var c = document.getElementById(id);
            var idata = Filters.filterImage(filter, img, arg1, arg2, arg3);
            c.width = idata.width;
            c.height = idata.height;
            var ctx = c.getContext('2d');
            ctx.putImageData(idata, 0, 0);
        }
        threshold = function(seuil) {
            runFilter('background', Filters.threshold, seuil);
          }
        threshold(128);
    }, false);

</script>

{% block footer %}
{% endblock %}
</body>
</html>
