<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.3.0/less-1.3.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script>
    <script>
    {% block positions %}
    var positions = []
    {% endblock %}
    </script>
    <script src="{{ STATIC_URL }}js/draggable.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="">Bessst</a></li>
    </ul>
    <ul id="lan">
        <li><a href="">nl</a></li>
        <li><a href="">en</a></li>
        <li><a href="">fr</a></li>
    </ul>
    <ul id="navi">
        <li><a href="">Over</a></li>
        <li><a href="">Projecten</a></li>
        <li><a href="">Archieven</a></li>
        <li><a href="">Bronnen</a></li>
        <li><a href="">Agenda</a></li>
    </ul>
    <ul id="meta">
        <li><a href="">Nieuwsbrief</a></li>
        <li><a href="">Deelnemen</a></li>
    </ul>
</nav>

{% endblock %}

{%  block content %}
{%  endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
