{% extends "base.html" %}

{% block title %}bessst.be — home{% endblock %}


{% block content %}

<h1>over</h1>

<h2>wat is bessst?</h2>
<div class="summary">
    <p>
    bessst is een praktijkgemeenschap van <a href="#">stiltebemiddelaars</a> (link naar glossarium) in Brussel. bessst staat voor brussel, erfgoed, stilte.
    </p>
    <p>
    Opzet is om mensen bij elkaar te brengen die een praktijk ontwikkelen of willen opzetten rond stilte- en rustbeleving in de stad. Concreet, in levende lijve of digitaal.
    </p>
    <p>
    bessst brengt stiltebemiddelaars samen, is op zoek naar deelnemers en helpt initiatiefnemers om hun project in verbinding te brengen met anderen. bessst wil deze projecten inhoudelijk versterken en meer zichtbaarheid geven. 
    </p>
    <p>
    bessst beoogt vooral projecten en activiteiten in de luwte waarbij de wisselwerking tussen de beleving van erfgoedwaarden, artistieke expressie en maatschappelijke betrokkenheid centraal staan.
    </p>
    <p>
    Elke partner draagt op een eigen manier bij aan stilte- en rustbeleving in de stad en maakt de verbinding met de stadsbewoners en -bezoekers. De specifieke bessst-benadering biedt de kans om projecten op te zetten die anders niet mogelijk zouden zijn.
    </p>
    <p>
    bessst biedt een kader om concrete stilte- en rustinitiatieven te bevorderen en uit te werken: inhoudelijk, organisatorisch, methodologisch. In stilte komt diversiteit thuis, wordt creativiteit gevoed en krijgt het verleden opnieuw betekenis en aandacht in het leven van alledag.
    </p>
    <div class="more">
        <p>
        De laatste jaren groeit het besef dat stilte en rust een heilzame werking hebben op de mens en zijn omgeving. Stilte en rust zijn zelfs noodzakelijk voor leefkwaliteit, zo blijkt uit wetenschappelijk onderzoek. Te midden van een samenleving die vooral gericht is op productie, consumptie en versnelling bieden stilte en rust ruimte voor waarden die verdieping en ontmoeting mogelijk maken. 
        </p>
        <p>
        Stilte- en rustbeleving dragen bij tot een nieuwe visie op de stad en het leven van alledag. Ze boort als het ware een ‘poëtische laag’ aan, een vaak verborgen, veronachtzaamde dimensie binnen de werkelijkheid die erg levenskrachtig kan zijn.
        </p>
        <p>
        Als je open staat en stil bent in jezelf, kun je makkelijker omgaan met de vele gedaantes van de stad. Soms ontdek je dan onvermoede mogelijkheden binnen de bestaande, vaak weerbarstige werkelijkheid.  
        </p>
        <p>
        bessst  wil nagaan wat de betekenis en de maatschappelijke beleving van ‘stilte als erfgoed’ vandaag zoal kán zijn. Stilte en rust dragen in de eerste plaats bij tot een duurzame, gedeelde leefkwaliteit. In een grootstad als Brussel staat die erg onder druk. Stilte verbindt mensen met de eenvoud van de dingen, met het tijdloze, met alles wat onvervangbaar en onbetaalbaar is.
        </p>
        <p>
        Een bedachtzame stilte- en rustwerking maakt ook de onderstroom voelbaar van innerlijke stilte die mensen verbindt over historisch gegroeide levensbeschouwelijke en etnisch-culturele verschillen heen. Velen – ook jongeren – blijken hiertoe aangesproken. Aandacht en luisterbereidheid, met respect voor ieders eigenheid en waardepatroon, dragen bovendien bij tot een kwaliteitsvollere omgang tussen individuen en gemeenschappen.
        </p>
    </div>
</div>


<h2>met wie?</h2>
<p>
bessst brengt in de eerste plaats stiltebemiddelaars(link naar glossarium) samen, die praktijken ontwikkelen of willen opzetten rond stilte- en rustbeleving in de stad.
        </p>
        <p>
Deze stiltebemiddelaars vormen de noodzakelijke schakel naar het brede publiek toe. Als beleidsverantwoordelijke of ambtenaar kunnen ze binnen een welbepaald beleidsdomein met stilte, rust en ruimte aan de slag zijn. Ze kunnen ook actief zijn – professioneel of vrijwillig – binnen sociaal-culturele organisaties, verenigingen, vormingsinstellingen, bedrijven of burgerinitiatieven. Samen vormen zij de ‘bessst community’ (link naar glossarium).
        </p>
        <p>
partners (met doorklik naar websites van partners)

            

    Gemeenschapscentra         Brussel

            

    Citizenne         vzw

            

    QO2

            

    Constant         vzw

            

    Brukselbinnenstebuiten         vzw

            

    Trage         Wegen vzw

        </p>
        <p>
Waerbeke, de sociaal-culturele beweging rond stilte en leefkwaliteit, en de Vlaamse Gemeenschapscommissie ondersteunen dit project.
        </p>
        <p>
bessst kadert in de Beleidsnota 2009 van Brussels staatssecretaris Bruno De Lille, collegelid van de Vlaamse Gemeenschapscommissie in Brussel voor Cultuur, Jeugd, Sport en Ambtenarenzaken.
        </p>
        <p>
“Binnen het immaterieel erfgoed wil ik een sterk accent leggen op het talige erfgoed en
        </p>
        <p>
op stilte als uiting van ontastbaar erfgoed. Het is mijn overtuiging dat de stilteplekken in de stad het verdienen om goed te worden beheerd en gekoesterd.”
        </p>
        <p>
Soms wordt hiertoe ook wel de notiebessst-atlas (link naar glossarium) gebruikt. Dit staatvoor deverzameling van alle personen, plekken en praktijken rond stilte en leefkwaliteit in Brussel, met aandacht voor het historische, de erfgoedcomponent, mythische aspecten, buurtleven, verhalen, interculturele dialoog en tradities… Deze bessst-atlas wordt niet in de vorm van een geokaart uitgebracht.
        </p>
        

<h2>voor wie?</h2>
<p>
Door allerlei projecten en initiatieven rond stilte- en rustbeleving in Brussel te stimuleren en mogelijk te maken, wil bessst zoveel mogelijk stadsbewoners en -bezoekers betrekken. 
        </p>
        <p>
Opzet is om in de stad Brussel op termijn een erfgoedgemeenschap(link naar glossarium)rond stilte- en rustbeleving mogelijk te maken. Zo’n praktijkgemeenschap kan leiden tot nieuwe vormen van samenwerking en leren, maar ook tot organisatorische of maatschappelijke vernieuwing en verandering. 
        </p>
        <p>
De idee van erfgoedgemeenschap sluit nauw aan bij de Europese Kaderconventieover de bijdrage van erfgoed aan de samenleving (Faro, 2005). (link naar extra pagina onder ‘inspiratie’ – ‘voorbeeldpraktijken’)
        </p>
        

<h2>hoe neem je deel?</h2>

<p>
bessst staat open voor al wie een praktijk ontwikkelt of wil ontwikkelen rond stilte- en rustbeleving in de stad Brussel: erfgoedbeheerders, verenigingen, beleidsverantwoordelijken, professionele buurtwerkers, kunstenaars, gidsen… Hiertoe kunnen projecten worden ingediend (met doorklik naar bessst-projectoproep). Bestaande initiatieven kunnen ook het bessst-label aanvragen (met doorklik naar bessst-label).
        </p>
        <p>
Ben je geïnteresseerd en wil je kennismaken met andere partners van de bessst community(met doorklik naar met wie?) of initiatiefnemers van bessst-projecten (met doorklik naar lopende projecten), dan kun je altijd je gegevens en profiel doorgeven (met doorklik naar meld je aan). Wij nemen dan wel contact met je op.
        </p>
        
<h2>contact</h2>

Christel Dusoleil – projectleider Waerbeke
0474 92 01 12 – christel@bessst.be
Els De Greef – projectleider VGC
0475 56 56 23 – els.degreef@vgc.be 
{% endblock %}
