  <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/1.svg"></object>
  </div>
  <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/2.svg"></object>
  </div>
    <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/3.svg"></object> 
   </div>
  <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/4.svg"></object> 
  </div>
    <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/5.svg"></object> 
   </div>
  <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/6.svg"></object> 
  </div>
