{% extends "base.html" %}
{% load markup %}

{% block title %}Projecten{% endblock %}

{% block slug %}project{% endblock%}

{% block header %}
<h1 class="{{ object.axis.pictogram }}">{{ object.title }} <span class='subtitle'>{{ object.subtitle }}</span></h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box">
    <div class="tail">{{ object.summary|markdown }}</div>

    <div class="columns">
        {{ object.description|markdown }}
    </div>

</section>
<section id="right">
        <dl id="metadata" class="box">
            <dt style="display: none">{{ object.axis }}</dt>
            <dd>
                <img class="metadata-axis" src="{{ STATIC_URL }}axis/{{ object.axis.pictogram }}.png">
            </dd>
            <dt>Partners</dt>
            <dd>
                <ul class="inline">
                {% for p in object.producers.all %}
                    <li>{% if p.link %}
                        <a href="{{ p.link }}">{{ p.get_full_name }}</a>
                    {% else %}
                        {{ p.get_full_name }}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </dd>
            <dt>Locatie</dt>
            <dd>{{ object.location }}</dd>

            {% if object.link %}
                <dt>Project website</dt>
                <dd><a href="{{ object.link }}" target="_blank">{{ object.link|slice:'7:'|truncatechars:'30' }}</a></dd>
            {% endif %}

            {% if object.event_set.all %}
                <dt>Related events</dt>
                <dd>
                    <ul>
                    {% for e in object.event_set.all %}
                        <li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
</section>
{% endblock %}

{% block footer %}
<div id="caption-block">
    {% if object.image_set.all %}
        {% if object.image_set.count > 1 %}
        <div class="prev">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
        </div>
        {% endif %}
        <div id="caption-list">
            {% for img in object.image_set.all %}
                <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                    {{ img }}
                </div>
            {% endfor %}
        </div>
        {% if object.image_set.count > 1 %}
        <div class="next">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}


