{% extends "base.html" %}
{% load markup %}

{% block title %}Projecten{% endblock %}

{% block slug %}project{% endblock%}

{% block header %}
<h1 class="{{ object.axis.pictogram }}">{{ object.title }} <span class='subtitle'>{{ object.subtitle }}</span></h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box">
    <div class="tail">{{ object.summary|markdown }}</div>

    <div class="columns">
        {{ object.description|markdown }}
    </div>

</section>
<section id="right">
        <dl id="metadata" class="box">
            <dt style="display: none">{{ object.axis }}</dt>
            <dd>
                <img class="metadata-axis" src="{{ STATIC_URL }}axis/{{ object.axis.pictogram }}.png">
            </dd>
            <dt>Partners</dt>
            <dd>
                <ul class="inline">{% for p in object.producers.all %}<li>{{ p.get_full_name }}</li>{% endfor %}</ul>
            </dd>
            <dt>Locatie</dt>
            <dd>{{ object.location }}</dd>

            {% if object.link %}
                <dt>Project website</dt>
                <dd><a href="{{ object.link }}" target="_blank">{{ object.link|slice:'7:' }}</a></dd>
            {% endif %}

            {% if object.event_set.all %}
                <dt>Related events</dt>
                <dd>
                    <ul>
                    {% for e in object.event_set.all %}
                        <li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
</section>
{% endblock %}

{% block footer %}
<div id="caption-block">
    {% if object.image_set.all %}
        {% if object.image_set.count > 1 %}
        <div class="prev">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
        </div>
        {% endif %}
        <div id="caption-list">
            {% for img in object.image_set.all %}
                <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                    {{ img }}
                </div>
            {% endfor %}
        </div>
        {% if object.image_set.count > 1 %}
        <div class="next">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
        </div>
        {% endif %}
    {% endif %}
</div>

<script>
    $(window).load(function(){
        // applies "Tailing/Queue de lampe" filter
        $(".tail").tailing();

        // Toggle boxes when hovering caption box
        $("footer div#caption-list").hover(function(){
                $("section").css("visibility", "hidden");
                $("header").hide();
                $("#background-gradient").hide();
            }, function(){
                $("section").css("visibility", "visible");
                $("header").show();
                $("#background-gradient").show();
        });
        {% if object.image_set.count > 1 %}
        // Navigate through images
        $("footer div.prev").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.prev().hasClass("caption")){
                current.prev().addClass("visible");
                $(".background-image").attr("src", current.prev().attr("title"));
            } else {
                last = $("div#caption-list div.caption:last-child").addClass("visible");
                last.addClass("visible");
                $(".background-image").attr("src", last.attr("title"));
            }
        });
        $("footer div.next").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.next().hasClass("caption")){
                current.next().addClass("visible");
                $(".background-image").attr("src", current.next().attr("title"));
            } else {
                first = $("div#caption-list div.caption:first-child")
                first.addClass("visible");
                $(".background-image").attr("src", first.attr("title"));
            }
        });
        {% endif %}
    });
</script>
{% endblock %}


