{% extends "base.html" %}
{% load markup thumbnails i18n utils %}

{% block title %}{% trans "Projecten" %}{% endblock %}

{% block slug %}projecten{% endblock%}


{% block header %}
    <div id="tooltip">&nbsp;</div>
{% endblock header%}

{% block content %}

    <section id="main">
    <div id='axis-menu'>
        {% for axis in axis_list %}
            <h2 class="logo">
                <a href='{% url axis-detail axis.slug %}'>
                    <img class="{{ axis.pictogram }} small-logo" id="{{ axis.slug }}" src="{{ STATIC_URL }}axis/{{ axis.pictogram }}.png" title="{{ axis.name }}" data-photo="{{ axis.image_set.all.0.image.url }}" data-photo-caption="{{ axis.image_set.all.0 }}"/>
                </a>
          </h2>
        {% endfor %}
    </div>
          <ul id='project-list'>
              {% for project in object_list %}
              <li class="box {{ project.axis.slug }} no-border in-grid {% if project.archived %}archive{% endif %}" data-sizex="18">
                  
                  <a class="many-things-link" href="{{ project.get_absolute_url }}" data-axis="{{ project.axis.slug }}">
                  
                    <div class='lettrine'>
                        {% if project.image_set.all.0.image.url %}
                            <img src="{{ project.image_set.all.0.image|thumbnail:'150x150' }}" />
                        {% else %}
                            <div class='empty-lettrine'>&nbsp;</div>
                        {% endif %}

                        <img class="{{ project.axis.pictogram }} small-logo" id="{{ project.axis.slug }}" src="{{ STATIC_URL }}axis/{{ project.axis.pictogram }}-smaller.png" title="{{ project.axis.name }}" data-photo="{{ project.axis.image_set.all.0.image.url }}" data-photo-caption="{{ project.axis.image_set.all.0 }}"/>
                    </div>
                    
                    <div> 
                        <h1>{% get_trans project title LANGUAGE_CODE %}</h1>
                    </div>
                   
                    {% filter truncatewords_html:60 %}{% get_trans project summary LANGUAGE_CODE %}{% endfilter %}
                 
                    </a>
                    
              </li>
          {% endfor %}
          </ul>
    </section>
    <div id="box-oproep">
        <a href='{% url label_form %}'>{% trans "vraag het<br /> bessst-label aan" %}</a>
    </div>
{% endblock content %}





{% block footer %}
{% endblock %}


{% block extra_js %}
    <script src="{{ STATIC_URL }}js/index.js"></script>    
    <script>
        /* If this is a project category page, the variable slug will be set.
         * If it is the general project page, it will be unset */
        var slug = '{{ slug }}';
        
        /* This function is called by the router to switch between different project categories */
        var switchTo = function(ctx) {
            var axis = ctx.params.axis;
            // we are only finished if both hiding the old is done and showing the new is done
            var finished = { hiding: false, showing: false }
            // hide the old
            $('ul#project-list .in-grid').not('.' + axis).removeClass("in-grid masonry-brick").fadeOut('fast', function() {
                finished.hiding = true;
                if (finished.showing) {
                    $('#project-list').masonry('reload');
                }
            });
            // show the new
            $('ul#project-list .' + axis).addClass("in-grid").fadeIn('fast', function() {
                finished.showing = true;
                if (finished.hiding) {
                    $('#project-list').masonry('reload');
                }
            });
            // (we don’t know which one finishes first, so we check in both cases. When both are done we trigger the masonry)
        }
        
        $(window).load(function() {

            /* if the Browser supports the HTML5 History API we use client side 
             routing for smooth transition inbetween the different axis categories! */
            if ( window.history && window.history.replaceState ) {
                page('/:langs/axis/:axis/', switchTo);
                page.start();
            }
            
            if (slug) {
                // hide projects not in this category
                $('ul#project-list .in-grid').not('.' + slug).removeClass("in-grid").hide();
            } else {
                // hide the later elements 
                $('ul#project-list .in-grid').slice(9).removeClass("in-grid").hide();
                var expanded = false;
            }
            
            // do the masonry and establish its settings
            $('#project-list').masonry({
                itemSelector: 'li.in-grid',
                columnWidth: 30,
                isAnimated: true,
                  animationOptions: {
                    duration: 750,
                    easing: 'swing',
                    queue: false
                  }
                
            });
            
            /* For the general project  page, if we get almost to the bottom,
             we show also the remaining items */
            if (!slug) {
               $(window).bind('scroll',
                   function(e){
                        // console.log($(this).scrollTop())
                        if ( $(this).scrollTop() + $(window).height() > $(document).height() - 200 ) {
                            //console.log("within 200px!");
                            if (!expanded) {
                                //console.log("expand!");
                                expanded = true;
                                $('ul#project-list li').slice(9).addClass("in-grid").fadeIn('fast', function() {
                                    $('#project-list').masonry('reload');
                                });
        // CENTER AXIS ICON IN LETTRINE SPACE
            $('.lettrine .small-logo').each(function(){
                this_top = 20 + $(this).parent().height()/2 - $(this).height()/2;
                this_left = 20 + $(this).parent().width()/2 - $(this).width()/2;
                $(this).css({'top': this_top + 'px', 'left': this_left + 'px'});
            });
        
                            }
                        }
                    }
               );
            }
            
        // CENTER AXIS ICON IN LETTRINE SPACE
            $('.lettrine .small-logo').each(function(){
                this_top = 20 + $(this).parent().height()/2 - $(this).height()/2;
                this_left = 20 + $(this).parent().width()/2 - $(this).width()/2;
                $(this).css({'top': this_top + 'px', 'left': this_left + 'px'});
            });
        
        });
        
        /* ROLLOVER PROJECT BOX */
        $('ul#project-list li').hover(function(){
            $(this).removeClass('no-border');
            $('.lettrine .small-logo' ,$(this)).hide()
            }, function(){
            $(this).addClass('no-border');
            $('.lettrine .small-logo' ,$(this)).show()
        });
        
        /* Show axis names and colors on axis-image rollover */
        $(".logo").hover(function(e){
            picto = $( "img", $(this));
            filename = picto.attr("src").slice(0, -4);
            picto.attr("src", filename + "_c.png");
            
            $("#tooltip").text(picto.attr('title')).css('visibility','visible').addClass(picto.attr('class'));
            $("#tooltip").css('left', e.pageX);
            $("#tooltip").css('top', e.pageY);
            
            $("." + picto.attr("id")).removeClass("no-border");
        
        }, function(){
            picto.attr("src", filename + ".png");
            
            $("#tooltip").html("&nbsp;").css('visibility','hidden').removeClass();
            $("." + picto.attr("id")).addClass("no-border");
        
        });
    </script>
{% endblock %}
