{% extends "base.html" %}
{% load markup thumbnails i18n utils %}

{% block title %}{% trans "Projecten" %}{% endblock %}

{% block slug %}projecten{% endblock%}


{% block header %}
    <div id="tooltip">&nbsp;</div>
{% endblock header%}

{% block content %}

    <section id="main">
    <div id='axis-menu'>
        {% for axis in axis_list %}
            <h2 class="logo">
                <a href='{% url axis-detail axis.slug %}'>
                    <img class="{{ axis.pictogram }} small-logo" id="{{ axis.name|slugify }}" src="{{ STATIC_URL }}axis/{{ axis.pictogram }}.png" title="{{ axis.name }}" data-photo="{{ axis.image_set.all.0.image.url }}" data-photo-caption="{{ axis.image_set.all.0 }}"/>
                </a>
          </h2>
        {% endfor %}
    </div>
          <ul id='project-list'>
              {% for project in object_list %}
              <li class="box {{ project.axis.name|slugify }} no-border in-grid {% if project.archived %}archive{% endif %}" data-sizex="18">
                  
                  <a class="many-things-link" href="{{ project.get_absolute_url }}" data-axis="{{ project.axis.name|slugify }}">
                  
                    <div class='lettrine'>
                        {% if project.image_set.all.0.image.url %}
                            <img src="{{ project.image_set.all.0.image|thumbnail:'150x150' }}" />
                        {% else %}
                            <div class='empty-lettrine'>&nbsp;</div>
                        {% endif %}

                        <img class="{{ project.axis.pictogram }} small-logo" id="{{ project.axis.name|slugify }}" src="{{ STATIC_URL }}axis/{{ project.axis.pictogram }}-smaller.png" title="{{ project.axis.name }}" data-photo="{{ project.axis.image_set.all.0.image.url }}" data-photo-caption="{{ project.axis.image_set.all.0 }}"/>
                    </div>
                    
                    <div> 
                        <h1>{% get_trans project title LANGUAGE_CODE %}</h1>
                    </div>
                   
                    {% filter truncatewords_html:60 %}{% get_trans project summary LANGUAGE_CODE %}{% endfilter %}
                 
                    </a>
                    
              </li>
          {% endfor %}
          </ul>
    </section>
    <div id="box-oproep">
        <a href='{% url label_form %}'>{% trans "Krijg het<br /> bessst-label" %}</a>
    </div>
{% endblock content %}





{% block footer %}
{% endblock %}


{% block extra_js %}
    <script src="{{ STATIC_URL }}js/index.js"></script>
    <script>
        var slug = '{{ slug }}';
        
        var switchTo = function(ctx) {
            var axis = ctx.params.axis;
            console.log($('.box .' + axis).length)
            var finished = { hiding: false, showing: false }
            $('ul#project-list .in-grid').not('.' + axis).removeClass("in-grid masonry-brick").fadeOut('fast', function() {
                finished.hiding = true;
                if (finished.showing) {
                    $('#project-list').masonry('reload');
                }
            });
            $('ul#project-list .' + axis).addClass("in-grid").fadeIn('fast', function() {
                finished.showing = true;
                if (finished.hiding) {
                    $('#project-list').masonry('reload');
                }
            });
        }

        $(window).load(function() {
            
        page('/axis/:axis/', switchTo);
        page.start();
                    
            if (slug) {
                $('ul#project-list .in-grid').not('.' + slug).removeClass("in-grid").fadeOut(0);
            }
            
           /* $("#axis-menu a").click(function(e) {
                e.preventDefault();
                var axis = $(this).attr('href').match(/\/axis\/([\w\-]+)\//)[1]
                switchTo(axis);
            })*/
            
            $('#project-list').masonry({
                itemSelector: 'li.in-grid',
                columnWidth: 30,
                isAnimated: true,
                  animationOptions: {
                    duration: 750,
                    easing: 'swing',
                    queue: false
                  }
                
            });
            
        // CENTER AXIS ICON IN LETTRINE SPACE
            $('.lettrine .small-logo').each(function(){
                this_top = 20 + $(this).parent().height()/2 - $(this).height()/2;
                this_left = 20 + $(this).parent().width()/2 - $(this).width()/2;
                $(this).css({'top': this_top + 'px', 'left': this_left + 'px'});
            });
        
        });

        /* ROLLOVER PROJECT BOX */
        $('ul#project-list li').hover(function(){
            $(this).removeClass('no-border');
            $('.lettrine .small-logo' ,$(this)).hide()
            }, function(){
            $(this).addClass('no-border');
            $('.lettrine .small-logo' ,$(this)).show()
        });

        /* Show axis names and colors on axis-image rollover */
        $(".logo").hover(function(){
            picto = $( "img", $(this));
            filename = picto.attr("src").slice(0, -4);
            picto.attr("src", filename + "_c.png");

            $("#tooltip").text(picto.attr('title')).css('visibility','visible').addClass(picto.attr('class'));

            $("." + picto.attr("id")).removeClass("no-border");

        }, function(){
            picto.attr("src", filename + ".png");

            $("#tooltip").html("&nbsp;").css('visibility','hidden').removeClass();
            $("." + picto.attr("id")).addClass("no-border");

        });
    </script>
{% endblock %}
