{% extends "base.html" %}
{% load markup i18n utils thumbnails %}

{% block title %}{% trans "Project" %}{% endblock %}

{% block slug %}project{% endblock%}

{% block header %}
<h1 class="{{ object.axis.pictogram }}">{% get_trans object title LANGUAGE_CODE %} <span class='subtitle'>{% get_trans object subtitle LANGUAGE_CODE %}</span></h1>
{% endblock header%}

{% block content %}

<section id="main" class="big box">
    <div class="tail">
        {% get_trans object summary LANGUAGE_CODE %}
    </div>

    <div class="columns">
        {% get_trans object description LANGUAGE_CODE %}
    </div>
    
    {% if object.slug == "bessst-route" %}
    <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps/ms?msid=216671772446348664973.0004d3e2615d74e9c0674&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=50.809189,4.401398&amp;spn=0.053477,0.169086&amp;output=embed"></iframe>
    {% endif %}

</section>
<section id="right">
        <dl id="metadata" class="box">
            <dt style="display: none">{% get_trans object axis LANGUAGE_CODE  %}</dt>
            <dd>
                <img class="metadata-axis" src="{{ STATIC_URL }}axis/{{ object.axis.pictogram }}.png">
            </dd>
            <dt>{% trans "Partners" %}</dt>
            <dd>
                <ul class="inline">
                {% for p in object.producers.all %}
                    <li>{% if p.link %}
                        <a href="{{ p.link }}" target="_blank">{{ p.get_full_name }}</a>
                    {% else %}
                        {{ p.get_full_name }}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </dd>
            {% if object.location %}
                <dt>{% trans "Locatie" %}</dt>
                <dd>{% get_trans object location LANGUAGE_CODE %}</dd>
            {% endif %}

            {% if object.link %}
                <dt>{% trans "Project website" %}</dt>
                <dd><a href="{{ object.link }}" target="_blank">{{ object.link|slice:'7:'|truncatechars:'30' }}</a></dd>
            {% endif %}

            {% if object.event_set.all %}
                <dt>{% trans "Related events" %}</dt>
                <dd>
                    <ul>
                    {% for e in object.event_set.all %}
                        <li><a href="{{ e.get_absolute_url }}">{% get_trans e title LANGUAGE_CODE %}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
</section>
{% endblock %}

{% block footer %}
<div id="caption-block">
    {% if object.image_set.all %}
        {% if object.image_set.count > 1 %}
        <div class="prev">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
        </div>
        {% endif %}
        <div id="caption-list">
            {% for img in object.image_set.all %}
                <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                    {{ img }}
                </div>
            {% endfor %}
        </div>
        {% if object.image_set.count > 1 %}
        <div class="next">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{% comment %}
    <script>
    $(document).ready(function(){
        img_h = $("img.background-image").height();
        txt_h = $("section#main").height();
        console.log(img_h)
        console.log(txt_h)
        console.log($(document).scrollTop());
        console.log($(window).height())
        //if($(document).scrollTop() == img_h) {
            // the image is higher than the text
            $(document).scroll(function(){
                console.log("scroll");
                if ($(document).scrollTop() + $(window).height() > txt_h ){
                    $("section#main").css({'position': 'fixed', 'bottom': '1em'});
                } else {
                    $("section#main").css({'position': 'static'});
                }
            });
        //} else {
            // the text is higher than the image
        //}
    });
    </script>
    {% endcomment %}
{% endblock %}
