{% extends "base.html" %}

{% block title %}bessst.be — home{% endblock %}

{% block content %}
<div class="container">
  <div class="logo">
  <object type="image/svg+xml" data="/assets/svg/1.svg"></object>
  </div>
  <div class="logo" contenteditable="true">
      <object type="image/svg+xml" data="/assets/svg/2.svg"></object>
  </div>
    <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/3.svg"></object> 
   </div>
  <div class="logo" contenteditable="true">
      <object type="image/svg+xml" data="/assets/svg/4.svg"></object> 
  </div>
    <div class="logo">
      <object type="image/svg+xml" data="/assets/svg/5.svg"></object> 
   </div>
  <div class="logo" contenteditable="true">
      <object type="image/svg+xml" data="/assets/svg/6.svg"></object> 
  </div>
</div>
<div class="container">
    <div class="major">
    <div id="text">
        <p class="intro">Alle initiatieven en activiteiten die 
            in het kader van 
            bessst
            een meerjarenproject rond leefkwaliteit en stilte 
            in het Brussels Hoofdstedelijk Gewest
            worden opgezet, 
            kunt u hier 
            in de nabije toekomst
            raadplegen.
        </p>
    </div>

    <div id="project">
        <p class="project">
            Bessst is een project in wording.</p>
         <p class="project">
            De belangstelling voor stilte en rust als hefboom tot leefkwaliteit is de jongste jaren sterk toegenomen. Deze portaalsite rond stiltebeleving en -beheer in het Brus­sels Hoofdstedelijk Gewest zal voortaan groeien met inbreng vanuit vele plekken, discipli­nes en leefsferen.
        </p>
        <p class="project">
            De webstek wil op een informerende, dialogerende en inspirerende wijze bijdragen tot de werkzaamheid van stilte en rust in de stad, zowel in de persoonlijke als in de publieke leefsfeer. De webstek brengt informatie over activiteiten, projecten en initiatiefnemers en over relevante maatschappelijke ontwikkelingen.
        </p>
        <p class="project">
            Dit ‘digitaal stiltegebied’ verbindt over grenzen en verschillen heen een dynami­sche erfgoed­gemeenschap rond stilte en rust in Brussel.
        </p>
    </div>

   <div id="meer">
        <p class="meer">
            Meer informatie over bessst vind je:</br>
            - Heb je drie minuten? </br>
            <a href="http://www.fmbrussel.be/artikel/_zwijgen_is_goud.aspx"> Luister dan naar het interview op FM-Brussel.</a> 
            </br>
            Dit naar aanleiding van de aftrap van bessst, een meerjarenproject rond leefkwaliteit en stilte in het Brussels Hoofdstedelijk Gewest, op 27 september 2011. 
        </p>
        <p class="meer">
            - Heb je meer tijd? </br>
            <a href="http://www.brusselnieuws.be/artikel/brussel-krijgt-met-%E2%80%98bessst%E2%80%99-een-stilteproject">Zie ook: Brussel krijgt met ‘Bessst’ een stilteproject.</a>
        </p>
        <p class="meer">
            - Heb je tien minuten? </br>
            <a href="http://www.fmbrussel.be/player/ondemand/?http://www.fmbrussel.be/fmbrussel/kingkong2011/04/111025stilte.mp3"> Luister dan naar het interview met Thomas Dieltjens op FM-Brussel 
            </a>
        <p class="meer">
            <a href=/conceptnota/ > → Read de volledige conceptnota.</a>
        </p>
        </p>
    </div>
    
    </div>
<div class="minor" id="newsletter">
      <form action="/newsletter/signup/" enctype="multipart/form-data" method="post" id="signform">
  	{% csrf_token %}
    <p>
      <label for="email">
        Email
      </label>
      <input class="required email" type="email" id="email" name="email" placeholder="naam@domein.be" />
    </p>
    <p>
      <input type="submit" value="Ga!" />
      &nbsp;
    </p>
  </form>
</div>
    
    </div>
{% endblock %}

