{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ axis }}{% endblock %}

{% block slug %}axis{% endblock%}


{% block header %}
    <h1 class="{{ axis.pictogram }}">
        <img class="small-logo {{ axis.pictogram }}" id="{{ axis.slug }}" src="{{ STATIC_URL }}axis/{{ axis.pictogram }}.png" title="{{ axis.name }}" data-photo="{{ axis.image_set.all.0.image.url }}" data-photo-caption="{{ axis.image_set.all.0 }}"/>
        {{ axis }}
    </h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box">
    <div class="tail">{{ axis.description|markdown }}</div>
</section>

<section id="right">
    <ul class="project-list"> 
        {% for project in axis.project_set.all %}
        <li class="box {{ project.axis.slug }} no-border {% if project.archived %}archive{% endif %}" data-sizex="8">
            <a class="project-list-title" href="{{ project.get_absolute_url }}" data-axis="{{ project.axis.slug }}">{{ project }}</a>
            <br />
            {{ project.subtitle }}
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}

{% block footer %}
<div id="caption-block">
    {% if axis.image_set.all %}
        {% if axis.image_set.count > 1 %}
        <div class="prev">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
        </div>
        {% endif %}
        <div id="caption-list">
            {% for img in axis.image_set.all %}
                <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                    {{ img }}
                </div>
            {% endfor %}
        </div>
        {% if axis.image_set.count > 1 %}
        <div class="next">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
        </div>
        {% endif %}
    {% endif %}
</div>

<script>
    $(window).load(function(){
        // applies "Tailing/Queue de lampe" filter
        $(".tail").tailing();

        // Toggle boxes when hovering caption box
        $("footer div#caption-list").hover(function(){
                $("section").css("visibility", "hidden");
                $("header").hide();
                $("#background-gradient").hide();
            }, function(){
                $("section").css("visibility", "visible");
                $("header").show();
                $("#background-gradient").show();
        });
        {% if axis.image_set.count > 1 %}
        // Navigate through images
        $("footer div.prev").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.prev().hasClass("caption")){
                current.prev().addClass("visible");
                $(".background-image").attr("src", current.prev().attr("title"));
            } else {
                last = $("div#caption-list div.caption:last-child").addClass("visible");
                last.addClass("visible");
                $(".background-image").attr("src", last.attr("title"));
            }
        });
        $("footer div.next").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.next().hasClass("caption")){
                current.next().addClass("visible");
                $(".background-image").attr("src", current.next().attr("title"));
            } else {
                first = $("div#caption-list div.caption:first-child")
                first.addClass("visible");
                $(".background-image").attr("src", first.attr("title"));
            }
        });
        {% endif %}
    });
</script>
{% endblock %}



{% block background %}
    <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/{{ axis.pictogram }}-gradient.png');"></div> 
    <img class="background-image" src="{{ axis.image_set.all.0.image.url }}" style="width: 100%;"/>
{% endblock %}
