{% extends "base.html" %}

{% block title %}Inspiratie{% endblock %}

{% block slug %}inspiratie{% endblock%}

{% block content %}
    <section id="main">
        <ul id="resource-list"> 
          {% for resource in object_list %}
          <li class="box no-border inspiratie-{{ resource.category|slugify }}" data-sizex="9">
              <div class="inspiratie-categorien"> {{resource.category}} </div>
              {{resource.summary|safe}}
              <div class="resource-title"><a data-category="{{ resource.category }}" href="{{ resource.link }}" target="_blank">{{ resource.title }}</a>
              </div>
                
          </li>
          {% endfor %}
        </ul>
    </section>
{% endblock content %}


{% block extra_js %}
    <script>
        var masonic = function() {
            $('#resource-list').masonry({
              itemSelector: 'li',
              columnWidth: 15
            });
        };
        $(window).load(function() {
            masonic();
        });



        $("ul#resource-list li a").hover(function(){
            $("#info-zone").text($(this).attr('data-category')).css('visibility','visible');
        }, function(){
            $("#info-zone").html("&nbsp;").css('visibility','hidden').removeClass();
        });
        
        // extra aandacht voor het portaal van de stilte:
        
        $("[href='http://www.portaalvandestilte.be/']").parents("li").addClass("inspiratie-up")
        
    </script>
{% endblock %}
