{% extends "base.html" %}
{% load markup i18n utils %}

{% block title %}Community{% endblock %}

{% block slug %}community{% endblock %}


{% block content %}
<section id='main'>
<div class="box" data-sizex="35">
    <h2>{% trans "Bessst atlas" %}</h2>
    <div id="map"></div>
</div>
</div>
    
<div class="box" data-sizex="16">
    <h2 id="silence-friend">{% trans "Apply as a silence friend" %}</h2>
    <p class="explanation"><img id="place-dragger" src="http://cdn.leafletjs.com/leaflet-0.5/images/marker-icon.png"/>{% trans "Drag pin on to the map to share your favourite silence location in Brussels" %}</p>
    {% if not submitted%}
    <form action="{% url atlas %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
    {% else %}
    <p>{% trans "Thanks for your application as a silence friend." %}</p>
    {% endif %}
</div>

</Section>
{% endblock %}

{% block extra_js %}
<script src="{{STATIC_URL}}js/jquery-ui-1.8.23.custom.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
 <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script>

/* Map interactions*/

// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map').setView([50.84694973844825, 4.354920387268066], 14);

// add an OpenStreetMap tile layer
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> deelnemers'
}).addTo(map);

/* Plot all the friends on the map */
var friends = {{ friends_json|safe }}

for (var i=0; i < friends.length; i++) {
    var friend = friends[i]
    console.log(friend)
    friendHTML = '<p>' + friend.explanation + '</p>';
    if (friend.name) {
        friendHTML = '<h3>' + friend.name + '</h3>' + friendHTML;
    }
    var friendMarker = L.marker([friend.lat, friend.lng]).addTo(map) //These markers don’t move
        .bindPopup(friendHTML)
        .on('mouseover', function(evt) {
            evt.target.openPopup();
            })
        .on('mouseout', function(evt){
            evt.target.closePopup();
        })
        // this is a hack, making sure the view of the map moves to includes all the marks
       .openPopup()
       .closePopup();
}

var marker;

var setLatLng = function(latlng) {
        $("#id_location_latitude").val(latlng.lat);
        $("#id_location_longitude").val(latlng.lng);
        console.log(latlng.toString());
}

/* We have a pre-existing icon, that when dragged into the map, becomes a marker on that map */

$("#place-dragger").draggable( {
    stop: function(ev,ui) {
            console.log("stopped!");
            c = map.mouseEventToContainerPoint( ev );
            if (c.x < 0 || c.y < 0 || c.x > $(map._container).width() || c.y > $(map._container).height()) {
                console.log("outside!")
            } else {
                var latlng = map.mouseEventToLatLng( ev );
                
                /* Calling setLatLng will fill in the hidden form fields that are submitted to the server */
                setLatLng(latlng);
                
                /* create the marker */
                marker = L.marker(latlng, { draggable : true }).addTo(map)
                .bindPopup('Dit is mijn stilteplek')
                .openPopup()
                .on('dragend', function(e) { 
                     setLatLng(e.target.getLatLng());
                     e.target.openPopup();
                });
                $(this).remove(); // remove the original element
            }
        },
});

/* Form error checking */

if ($("p:has('#id_location_latitude')").prev().hasClass("errorlist")) {
    /* This means the form is giving errors about missing the latitude,
    which means nothing was selected on the map. We need to display errors next to the map. */
    $("p:has('#id_location_latitude','#id_location_longitude')").prev().hide();
    $("p.explanation").prepend('<span class="errorlist">Om u aan te melden als stiltevriend, vragen wij u een stilteplek aan te geven. </span>')
}

</script>
{% endblock %}


