{% extends "base.html" %}
{% load markup %}

{% block title %}Community{% endblock %}

{% block slug %}community{% endblock %}


{% block content %}
    
    <h2>Stiltepartners</h2>
    <ul> 
      {% for individual in object_list %}
      <li class="box no-border">
        {{ individual.get_full_name }}
      </li>
      {% endfor %}
    </ul>
    
    
    <h2>Opgeven als stiltepartner</h2>
    <form action="/community/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
    
    <h2>Partners</h2>
    <ul> 
      {% for partner in partners %}
      <li class="box no-border">
        {{ partner.name }}
      </li>
      {% endfor %}
    </ul>

{% endblock %}


{% block extra_js %}
<script>
    //$(".glossarium").click(function() {
    //    var popover = $('<div class="popover" />');
    //    popover.html($(this).attr('title'));
    //    popover.click(function(){
    //        $(this).remove()
    //    })
    //    
    //    popover.insertAfter($(this))
    //    popover.css('position','absolute')
    //})

    $(window).load(function(){
        {% if object.slug == "over" %}
            $("a#menu-over").addClass('selected');
        {% elif object.slug == "community" %}
            $("a#menu-community").addClass('selected');
        {% endif %}
        // Make seperate boxes for the different elements
        $("h2").each(function(i) {
            // for each header, take the header and all the elements up to the next header
            // and wrap them in a .box div
            $(this).css("cursor", "pointer").add($(this).nextUntil("h2")).wrapAll($('<div class="box"></div>'))
            // for each header, take the next element and all the elements up to the next header
            // and wrap them in a .collapsed div
            $(this).next().add($(this).next().nextUntil("h2")).wrapAll($('<div class="collapsed"></div>'))
        }) 
        $("h2").click(function(){
            $(this).next().slideToggle("slow");
        });

        // applies "Tailing/Queue de lampe" filter
        $(".tail").tailing();

    });
</script>
{% endblock %}


