{% extends "base.html" %}
{% load markup %}

{% block title %}Community{% endblock %}

{% block slug %}community{% endblock %}


{% block content %}
    
    <h2>Stiltepartners</h2>
    <ul> 
        {#{% regroup object_list|dictsort:'individual.individual_set' by individual_set as partner_list %}#}
        {% for organization in partners %}
            <li>
                {% if organization.link %}<a href="{{ organization.link }}">{% endif %}
                {{ organization.get_full_name }}
                {% if organization.link %}</a>{% endif %}

                {% if organization.individuals.all %}
                    <ul class='inline member-list'>
                    {% for member in organization.individuals.all %}
                        <li>{{ member }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for individual in object_list %}
            {% if not individual.individual_set.all %}
                <li>{{ individual }}
            {% endif %}
        {% endfor %}
    </ul>
    
    
    <h2>Aanmelden als stiltevriend</h2>
    <div id="map" style="height:180px;width:585px;"></div>
    <p class="explanation">Klik om te kaart om je favoriete stilteplek in Brussel op te geven.</p>
    <form action="/community/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
    
{% endblock %}


{% block extra_js %}
<script>
    //$(".glossarium").click(function() {
    //    var popover = $('<div class="popover" />');
    //    popover.html($(this).attr('title'));
    //    popover.click(function(){
    //        $(this).remove()
    //    })
    //    
    //    popover.insertAfter($(this))
    //    popover.css('position','absolute')
    //})

    $(window).load(function(){
        {% if object.slug == "over" %}
            $("a#menu-over").addClass('selected');
        {% elif object.slug == "community" %}
            $("a#menu-community").addClass('selected');
        {% endif %}
        // Make seperate boxes for the different elements
        $("h2").each(function(i) {
            // for each header, take the header and all the elements up to the next header
            // and wrap them in a .box div
            $(this).css("cursor", "pointer").add($(this).nextUntil("h2")).wrapAll($('<div class="box"></div>'))
            // for each header, take the next element and all the elements up to the next header
            // and wrap them in a .collapsed div
//            $(this).next().add($(this).next().nextUntil("h2")).wrapAll($('<div class="collapsed"></div>'))
        }) 
        $("h2").click(function(){
            $(this).next().slideToggle("slow");
        });

    });
</script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
 <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<script>
// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map').setView([50.84694973844825, 4.354920387268066], 14);

// add an OpenStreetMap tile layer
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> deelnemers'
}).addTo(map);

var marker;
var set = false;

var setLatLng = function(latlng) {
        $("#id_location_latitude").val(latlng.lat);
        $("#id_location_longitude").val(latlng.lng);
        console.log(latlng.toString());
}

var makeMarker = function(e) {
    if ( !set ) {
        setLatLng(e.latlng);
        set = true;
        marker = L.marker(e.latlng, { draggable : true }).addTo(map)
        .bindPopup('Dit is mijn stilteplek')
        .openPopup()
        .on('dragend', function(e) { 
             setLatLng(e.target.getLatLng());
        });
    }
}

map.on('click', makeMarker);

if ($("p:has('#id_location_latitude')").prev().hasClass("errorlist")) {
    /* This means the form is giving errors about missing the latitude,
    which means nothing was selected on the map. We need to display errors next to the map. */
    $("p:has('#id_location_latitude','#id_location_longitude')").prev().hide();
    $("p.explanation").prepend('<span class="errorlist">Om u aan te melden als stiltevriend, vragen wij u een stilteplek aan te geven. </span>')
}

</script>
{% endblock %}


