{% extends "base.html" %}
{% load markup i18n utils thumbnails %}

{% block title %}{% trans Event %}{% endblock %}

{% block slug %}event{% endblock%}

{% block header %}
<h1 class="{{ object.project.axis.pictogram }}">{% get_trans object title LANGUAGE_CODE %}</h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box">
    <div class="tail">{% get_trans object summary LANGUAGE_CODE %}</div>

    <div class="columns">
        {% get_trans object description LANGUAGE_CODE %}
    </div>

</section>
<section id="right">
        <dl id="metadata" class="box">
            <dt style="display: none">{% get_trans object.project axis LANGUAGE_CODE %}</dt>
            <dd>
                <img class="metadata-axis" src="{{ STATIC_URL }}axis/{{ object.project.axis.pictogram }}.png">
            </dd>
            <dt>{% trans "Datum" %}</dt>
            <dd>
                {{ event.start_date }}
                {% if event.end_date != event.start_date %}
                    {{ event.end_date }}
                {% endif %}
            </dd>
            {% if object.location %}
                <dt>{% trans "Locatie" %}</dt>
                <dd>{% get_trans object location LANGUAGE_CODE %}</dd>
            {% endif %}
            <dt>{% trans "Onderdeel van" %}</dt>
            <dd><a href='{{ object.project.get_absolute_url }}'>{% get_trans object.project title LANGUAGE_CODE %}</a></dd>
        </dl>
</section>
{% endblock %}

{% block footer %}
<div id="caption-block">
    {% if object.image_set.all %}
        {% if object.image_set.count > 1 %}
        <div class="prev">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
        </div>
        {% endif %}
        <div id="caption-list">
            {% for img in object.image_set.all %}
                <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                    {{ img }}
                </div>
            {% endfor %}
        </div>
        {% if object.image_set.count > 1 %}
        <div class="next">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}


{% block background %}
    {% if object.image_set.all.0.image %}
    <img class="background-image" src="{{ object.image_set.all.0.image|thumbnail:'1200w' }}" style="width: 100%;"/>
    {% else %}
	    {% if object.project %}
	    <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/{{ event.project.axis.pictogram }}-gradient.png');"></div>
    	{% else %}
    	<div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div>
    	{% endif %}
    {% endif %}
{% endblock %}
