{% extends 'base.html' %}
{% load markup utils thumbnails i18n %}

{% block title %}{% trans "Agenda" %}{% endblock %}

{% block slug %}agenda{% endblock%}

{% block content %}
{% if not archive %}<div class="pastandfutur-link"><a href="{% url agenda-archive %}"><img src="../static/axis/arrow-left.png"/>{% trans "Events Archive" %}</a></div>
{% else %}<div class="pastandfutur-link"> <a href="{% url agenda %}">{% trans "Current Events" %} →</a> </div>{% endif %}
<section id='agenda'>
    {% regroup object_list|dictsort:'start_date' by start_date as event_list %}
    {% assign prev_date event_list.0.list.0.start_date %}

    {% for date in event_list %}
        {% for event in date.list %}

            {% if event.start_date|timeuntil > 0 %}

            {% if event.start_date|date_to_space:prev_date > 0 %}
                <table class='vide' cellspacing="15">
                    <tr>
                        <td><div style='height: {{ event.start_date|date_to_space:prev_date }}0px'>&nbsp;</div></td>
                    </tr>
                </table>
                <table cellspacing="15">
                    <tr>
            {% elif forloop.first %}
                <table cellspacing="15">
                    <tr>
            {% endif %}

                <td class='no-border {{ event.project.axis.pictogram }}'>
                    <a href='{{ event.get_absolute_url }}'>
                        <h3>
                        {{ event.start_date }}
                        {% if event.end_date != event.start_date %}
                            → {{ event.end_date }}
                        {% endif %}
                        </h3>

                        {% if event.image_set.all.0.image.url %}
                            <img src="{{ event.image_set.all.0.image|thumbnail:'70x70' }}" />
                        {% endif %}

                        <div class="events">{% get_trans event title LANGUAGE_CODE %}</div>
                        <div class='related-project'>
                            {% trans "Onderdeel van"%} {% get_trans event.project title LANGUAGE_CODE %}
                            <div><img class='smaller-logo' src='{{ STATIC_URL }}axis/{{ event.project.axis.pictogram }}-smaller.png' alt='axis {{ event.project.axis }}' /></div>
                        </div>
                    </a>
                </td>

                {% assign prev_date event.start_date %}
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    {% endfor %}
</section>
{% endblock %}



{% block extra_js %}
<script>

    $(window).load(function() {

        /* ROLLOVER PROJECT BOX */
        $('#agenda td').hover(function(){
            $(this).removeClass('no-border');
            }, function(){
            $(this).addClass('no-border');
        });
    });
</script>
{% endblock %}
