{% extends 'base.html' %}
{% load markup %}

{% block content %}
<section id='agenda'>
    {% regroup object_list by start_date as event_list %}
    {% for date in event_list %}
        <table cellspacing="15">
            <tr>
                {% for event in date.list %}
                <td class='no-border {{ event.project.axis.pictogram }}'>

            <a href='{{ event.get_absolute_url }}'>
                {{ event.start_date }}
                {% if event.end_date != event.start_date %}
                    → {{ event.end_date }}
                {% endif %}
                <br />
                {{ event }}
                <!--{{ event.summary|markdown }}-->
                <p>
                    Onderdeel van {{ event.project }}
                    <img class='smaller-logo' src='{{ STATIC_URL }}axis/{{ event.project.axis.pictogram }}-smaller.png' alt='axis {{ event.project.axis }}' />
                </p>
            </a>

                </td>
                {% endfor %}
            </tr>
        </table>
    {% endfor %}
    <table>
        <tr><td>Vandaag: {{ now }}
    </table>
</section>
{% endblock %}



{% block extra_js %}
<script>

    $(window).load(function() {

        /* ROLLOVER PROJECT BOX */
        $('#agenda td').hover(function(){
            $(this).removeClass('no-border');
            }, function(){
            $(this).addClass('no-border');
        });
    });
</script>
{% endblock %}
