{% extends "base.html" %}
{% load markup %}

{% block title %}Event{% endblock %}

{% block slug %}event{% endblock%}

{% block header %}
<h1 class="{{ object.project.axis.pictogram }}">{{ object.title }} <span class='subtitle'>{{ object.subtitle }}</span></h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box">
    <div class="tail">{{ object.summary|markdown }}</div>

    <div class="columns">
        {{ object.description|markdown }}
    </div>

</section>
<section id="right">
        <dl id="metadata" class="box">
            <dt style="display: none">{{ object.axis }}</dt>
            <dd>
                <img class="metadata-axis" src="{{ STATIC_URL }}axis/{{ object.project.axis.pictogram }}.png">
            </dd>
            <dt>Datum</dt>
            <dd>
                {{ event.start_date }}
                {% if event.end_date != event.start_date %}
                    {{ event.end_date }}
                {% endif %}
            </dd>
            <dt>Locatie</dt>
            <dd>{{ object.location }}</dd>
            <dt>Onderdeel van</dt>
            <dd><a href='{{ object.project.get_absolute_url }}'>{{ object.project }}</a></dd>
        </dl>
</section>
{% endblock %}

{% block footer %}
<div id="caption-block">
    {% if object.image_set.all %}
        {% if object.image_set.count > 1 %}
        <div class="prev">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
        </div>
        {% endif %}
        <div id="caption-list">
            {% for img in object.image_set.all %}
                <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                    {{ img }}
                </div>
            {% endfor %}
        </div>
        {% if object.image_set.count > 1 %}
        <div class="next">
            <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}


{% block background %}
    {% if object.project %}<div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/{{ event.project.axis.pictogram }}-gradient.png');"></div>{% endif %} 
    <img class="background-image" src="{{ object.image_set.all.0.image.url }}" style="width: 100%;"/>
{% endblock %}
