<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
    <script src="{{ STATIC_URL }}less-1.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tailing.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="/">Bessst</a></li>
    </ul>
    <ul id="navi">
        <li><a href="/over/">Over</a></li>
        <li><a class="selected" href="/projects/">Projecten</a></li>
        <li><a href="#">Inspiratie</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Agenda</a></li>
    </ul>
    <ul id="lan">
        <li><a class="selected" href="#">nl</a></li>
        <li><a href="#">en</a></li>
        <li><a href="#">fr</a></li>
    </ul>
</nav>

{% endblock %}


<div id="container">
    <header>
        {%  block header %}
        {%  endblock %}
    </header>

    {%  block content %}
        <section id="main">
        </section>
    {%  endblock %}
</div>

<figure id="background">
    {% block background %}
        <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div> 
        <img class="background-image" src="{{ MEDIA_URL }}images/Waerbeke_vlinder_s.jpg" style="width: 100%;"/>
    {% endblock %}
</figure>
{% block footer %}
{% endblock %}
</body>
</html>
