<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
    <script src="{{ STATIC_URL }}less-1.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tailing.js"></script>
    <title>BESSST - Brussel, Stilte en Erfgoed - {% block title %}{% endblock %}</title>
</head>
<body class="{% block slug %}base{% endblock %}">
{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="/"><img src="{{ STATIC_URL }}images/logo-plain.png" /></a></li>
    </ul>
    <ul id="navi">
        <li><a id="menu-projects" href="{% url projects %}">Projecten</a></li>
        <li><a id="menu-agenda" href="{% url agenda %}">Agenda</a></li>
        <li><a id="menu-community" href="{% url community %}">Community</a></li>        
        <li><a id="menu-inspiratie" href="{% url inspiration %}">Inspiratie</a></li>
        <li><a id="menu-over" href="{% url flatpage-detail slug="over" %}">Over</a></li>
    </ul>
    <ul id="lan">
        <li><a class="selected" href="#">nl</a></li>
        <li><a href="#">en</a></li>
        <li><a href="#">fr</a></li>
    </ul>
</nav>

{% endblock %}


<div id="container">
    <div class="axis-home" title="{{ axis.name }}">Axis</div>
    
    <header>
        {%  block header %}
        {%  endblock %}
    </header>

    {%  block content %}
        <section id="main">
        </section>
    {%  endblock %}
</div>

<figure id="background">
    {% block background %}
        {% if object.axis %}
            <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/{{ object.axis.pictogram }}-gradient.png');"></div> 
            <img class="background-image" src="{{ object.image_set.all.0.image.url }}" style="width: 100%;"/>
        {% else %}
            <div id="background-gradient" style="background-image: url('{{ STATIC_URL }}axis/all-gradient.png');"></div> 
            <!--<img class="background-image" src="{{ MEDIA_URL }}images/Waerbeke_vlinder_s.jpg" style="width: 100%;"/>-->
        {% endif %}
    {% endblock %}
</figure>



<footer>
{% block footer %}
    <div id='caption-block'>
        {% if object.image_set.all %}
            {% if object.image_set.count > 1 %}
            <div class="prev">
                <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-left.png"/></a>
            </div>
            {% endif %}
            <div id="caption-list">
                {% for img in object.image_set.all %}
                    <div class="caption {% if forloop.first %}visible{% endif %}" title={{ img.image.url }}>
                        {{ img }}
                    </div>
                {% endfor %}
            </div>
            {% if object.image_set.count > 1 %}
            <div class="next">
                <a href="#" style="text-decoration: none;"><img src="{{ STATIC_URL }}axis/arrow-right.png"/></a>
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
</footer>


<script>
    $(window).load(function(){
        // hover on logo
        $('#logo').hover(function(){
            $('img', $(this)).attr('src', '{{ STATIC_URL }}images/logo.png');
            }, function(){
            $('img', $(this)).attr('src', '{{ STATIC_URL }}images/logo-plain.png');
        });
    	
    	// show where we are
	    $("#navi li a").each(function() {
	        if ( $(this).attr('href') == document.location.pathname ) { 
	            $(this).addClass("selected");
	        };
	    });
	    
        // Toggle boxes when hovering caption box
        $("footer div#caption-list").hover(function(){
                $("section").css("visibility", "hidden");
                $("header").hide();
                $("#background-gradient").hide();
            }, function(){
                $("section").css("visibility", "visible");
                $("header").show();
                $("#background-gradient").show();
        });
        // Navigate through images
        $("footer div.prev").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.prev().hasClass("caption")){
                current.prev().addClass("visible");
                $(".background-image").attr("src", current.prev().attr("title"));
            } else {
                last = $("div#caption-list div.caption:last-child").addClass("visible");
                last.addClass("visible");
                $(".background-image").attr("src", last.attr("title"));
            }
        });
        $("footer div.next").click(function(){
            current = $("div.caption.visible");
            current.removeClass("visible")
            if (current.next().hasClass("caption")){
                current.next().addClass("visible");
                $(".background-image").attr("src", current.next().attr("title"));
            } else {
                first = $("div#caption-list div.caption:first-child")
                first.addClass("visible");
                $(".background-image").attr("src", first.attr("title"));
            }
        });

    // applies "Tailing/Queue de lampe" filter
    $(".tail").tailing();

    });
    

</script>

{% block extra_js %}
{% endblock %}

</body>
</html>
