{% extends "base.html" %}

{% block title %}bessst.be — home{% endblock %}

{% block slug %}home{% endblock%}

{% block content %}
<script>
var axis = [
{% for axis in object_list %}
    { 'slug' : '{{ axis.name|slugify }}',
     'name' : '{{ axis.name }}',
     'photo' : '{{ axis.image_set.all.0.image.url }}',
     'photoCaption' : '{{ axis.image_set.all.0 }}' },
{% endfor %}
]
 </script>
{% endblock %}

{% block background %}
    <img class="background-image projects" id="background-all" src="{{ MEDIA_URL }}images/Waerbeke_vlinder_s.jpg"/>
    {% for axis in object_list %}
        <img class="background-image axis-image" id="background-{{ axis.name|slugify }}" src="{{ axis.image_set.all.0.image.url }}" />
    {% endfor %}
{% endblock %}

{% block footer %}
        <div id="caption-list">
                <div class="caption visible">
                    Waerbeke © Joke Floreal
                </div>
        </div>
{% endblock %}

{% block extra_js %}
    <script>
       var slide;
        $(window).load(function() {
            $("a#menu-projects").addClass('selected');


        $("img.background-image.axis-image").fadeOut();

        // Show axis names and colors on axis-image rollover 
        slide = function(axis){
            // background image and caption
            $('img.background-image').not('img#background-' + axis.slug).fadeOut();
            $('img#background-' + axis.slug).fadeIn();

            console.log('img#background-' + axis.slug);
            $("footer .caption").text(axis.photoCaption).show();
        };

        });

    </script>
{% endblock %}
