{% extends "base.html" %}

{% block title %}bessst.be — home{% endblock %}

{% block slug %}home{% endblock%}


{% block nav %}
<nav>
    <ul id="logo">
        <li><a href="/"><img src="{{ STATIC_URL }}images/logo.png" /></a></li>
    </ul>
    <ul id="navi">
        <li><a id="menu-projects" href="{% url projects %}">Projecten</a></li>
        <li><a id="menu-agenda" href="{% url agenda %}">Agenda</a></li>
        <li><a id="menu-community" href="{% url community %}">Community</a></li>        
        <li><a id="menu-inspiratie" href="{% url inspiration %}">Inspiratie</a></li>
        <li><a id="menu-over" href="{% url flatpage-detail slug="over" %}">Over</a></li>
    </ul>
    <ul id="lan">
        <li><a class="selected" href="#">nl</a></li>
        <li><a href="#">en</a></li>
        <li><a href="#">fr</a></li>
    </ul>
</nav>

{% endblock %}



{% block content %}
<div id="axis-home" title="{{ object_list.0.name }}"><a href="{% url axis-detail slug=object_list.0.slug %}">{{ object_list.0.name }}</a></div>
{% endblock %}

{% block background %}
    {% for axis in object_list reversed %}
    <img {% if not forloop.first %}style='display: none;'{% endif %} class="background-image axis-image" id="background-{{ axis.name|slugify }}" src="{{ axis.image_set.all.0.image.url }}" />
    {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
    <script>
        var photos = {
        	_i : 1,
        	axes: [
					{% for axis in object_list %}
					    { 'slug' : '{{ axis.name|slugify }}',
					     'name' : '{{ axis.name }}',
					     'photo' : '{{ axis.image_set.all.0.image.url }}',
					     'photoCaption' : '{{ axis.image_set.all.0 }}',
					     'url' : '{% url axis-detail slug=axis.slug %}' },
					{% endfor %}
					],
            get_axis : function() {
                if (this._i >= this.axes.length) {
                    this._i = 0;
                }
                var axis = this.axes[this._i];
                this._i += 1;
                return axis
            },
	        slide: function(){
	            // background image and caption
	            var axis = this.get_axis();
	            $('img.background-image').not('img#background-' + axis.slug).fadeOut('slow');
	            $('img#background-' + axis.slug).fadeIn('slow');
	
	            //console.log('img#background-' + axis.slug);
	            $("footer .caption").text(axis.photoCaption).show();

	            $("#axis-home").html('<a href="' + axis.url + '">' + axis.name + '</a>').show();
                left = $(document).width()/2 - $("#axis-home").width()/2 ;
	            $("#axis-home").css('left', left + 'px');
	        }
        }
    
        $(window).load(function() {
            window.setInterval(function() { photos.slide(); }, 5000);
        });

    </script>
{% endblock %}
