{% extends "base.html" %}
{% load i18n utils thumbnails %}

<title>{% trans "BESSST - Brussels, Heritage and Silence" %} - {% block title %}{% endblock %}</title>

{% block slug %}home{% endblock%}

{% block content %}
<div id="axis-home" title="{{ object_list.0.name }}">
        <a href="{% url axis-detail slug=object_list.0.slug %}">
        <img class= "{{ object_list.0.pictogram }} smaller-logo" id="{{ object_list.0.slug }}" src="/static/axis/{{ object_list.0.pictogram }}-smaller.png" title="{{ object_list.0.name }}" />
        {% get_trans object_list.0 name LANGUAGE_CODE %}
        </a>
</div>

{% endblock %}


{% block background %}
    {% for axis in object_list reversed %}
    <img {% if not forloop.last %}style='display: none;'{% endif %} class="background-image axis-image" id="background-{{ axis.slug }}" src="{{ axis.image_set.all.0.image|thumbnail:'1200w' }}" />
    {% endfor %}
{% endblock %}

{% block footer %}
<div id="caption-block">
        <div id="caption-list">
            {{ object_list.0.image_set.all.0.description }}
        </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        var photos = {
        	_i : 1,
        	axes: [
					{% for axis in object_list %}
					    { 'slug' : '{{ axis.slug }}',
					     'name' : '{% get_trans axis name LANGUAGE_CODE %}',
					     'photo' : '{{ axis.image_set.all.0.image.url }}',
					     'photoCaption' : '{{ axis.image_set.all.0 }}',
					     'pictogram' : '{{axis.pictogram}}',
					     'url' : '{% url axis-detail slug=axis.slug %}' },
					{% endfor %}
					],
            get_axis : function() {
                if (this._i >= this.axes.length) {
                    this._i = 0;
                }
                var axis = this.axes[this._i];
                this._i += 1;
                return axis
            },
	        slide: function(){
	            // background image and caption

	            var axis = this.get_axis();
                function fade (){
                    $('img.background-image').not('img#background-' + axis.slug).fadeOut(5000);
                    $('#axis-home').fadeOut(5000);
                    $('img#background-' + axis.slug).fadeIn(5000);
                }
                fade();
	            $("#axis-home").html('<a href="' + axis.url + '"> <img class="'+axis.pictogram +' smaller-logo" id="'+axis.slug +'" src="/static/axis/'+axis.pictogram+'-smaller.png" title="'+axis.name+'" />' + axis.name + '</a>').show();
                left = $(document).width()/2 - $("#axis-home").width()/2 ;
                $("#axis-home").css('left', left + 'px').css('display', 'block');
	            window.setTimeout(function(){ fade() }, 2000);



	            $("footer #caption-list").html(axis.photoCaption).show();
	        }
        }
        $(window).load(function() {
            photos.slide();
            window.setInterval(function() { photos.slide(); }, 7000);
        });

    </script>
{% endblock %}
