{% extends "base.html" %}
{% load markup %}

{% block title %}Projecten{% endblock %}

{% block header %}
    <h1>{{ object.title }}</h1>
{% endblock header%}

{% block content %}
<section id="main" class="big box">
    <div class="tail">{{ object.summary|markdown }}</div>

    <div class="columns">
        {{ object.description|markdown }}
    </div>

</section>
<section id="right">
        <dl id="metadata" class="box">
            <dt>Stiltebemidelaars</dt>
            <dd>
                <ul>{% for p in object.producers.all %}<li>{{ p }}</li>{% endfor %}</ul>
            </dd>
            <dt>Partners</dt>
            <dd>
                <ul>{% for p in object.partners.all %}<li>{{ p }}</li>{% endfor %}</ul>
            </dd>
            <dt>Location</dt>
            <dd>{{ object.location }}</dd>
            <dt style="display: none">{{ object.axis }}</dt>
            <dd>
                <object class="metadata-axis" type="image/svg+xml" data="{{ STATIC_URL }}axis/{{ object.axis.pictogram }}.svg"></object> 
            </dd>
        </dl>
</section>

<footer>
    <div class="caption">
        {{ object.image_set.all.0 }}
    </div>
</footer>

<script>
    $(window).load(function(){
        $(".tail").tailing();
    });
</script>
{% endblock %}


{% block background %}
<img id="orig" src="{{ object.image_set.all.0.image.url }}" style="display: none; width: 100%;"/>
{% endblock %}
