{% extends "base.html" %}

{% block title %}Projecten{% endblock %}

{% block header %}
    <h1 id="info-zone">&nbsp;</h1>
{% endblock header%}

{% block content %}

    <section id="main">
        <ul id="project-list"> 
        {% for axis in axis_list %}
          <li class="logo">
          <img id="{{ axis.name|slugify }}" src="{{ STATIC_URL }}axis/{{ axis.pictogram }}.png" title="{{ axis.name }}" data-photo="{{ axis.image_set.all.0.image.url }}" data-photo-caption="{{ axis.image_set.all.0 }}"/>
          </li>
          {% for project in axis.project_set.all %}
                <li class="box {{ project.axis.name|slugify }}" data-sizex="{{ project.size_x }}"><a href="{{ project.get_absolute_url }}" data-axis="{{ project.axis.name }}">{{ project }}</a></li>
          {% endfor %}
        {% endfor %}
        </ul>
    </section>
{% endblock content %}


{% block footer %}
    <footer>
        <div id="caption-list">
                <div class="caption {% if forloop.first %}visible{% endif %}">
                </div>
        </div>
    </footer>




    <script>
        var masonic = function() {
            $('#project-list').masonry({
              itemSelector: 'li:visible',
              columnWidth: 30
            });
        };

        $(window).load(masonic);

        /* Show axis names on axis-image rollover */
        $("li.logo").hover(function(){
            picto = $(this).children("img");
            $("#info-zone").text(picto.attr('title')).css('visibility','visible').addClass(picto.attr('class'));
            filename = picto.attr("src").slice(0, -4);
            picto.attr("src", filename + "_c.png");
            $("#background-gradient").css("background-image", "url(" + filename + "-gradient.png)");
            $(".background-image").attr("src", picto.attr("data-photo"));
            $("footer .caption").text(picto.attr("data-photo-caption")).show();
        }, function(){
            $("#info-zone").html("&nbsp;").css('visibility','hidden').removeClass();
            picto.attr("src", filename + ".png");
            $("#background-gradient").css("background-image", "url({{ STATIC_URL }}axis/all-gradient.png)");
        });
        
        /* Show/hide projects on axis-image click */
        $("li.logo").click(function(){
            $('.' + $(this).children("img").attr('id')).toggle('slow', masonic)
        })

        // Toggle boxes when hovering caption box
        $("footer div#caption-list").hover(function(){
                $("section").css("visibility", "hidden");
                $("header").hide();
                $("#background-gradient").hide();
            }, function(){
                $("section").css("visibility", "visible");
                $("header").show();
                $("#background-gradient").show();
        });
    </script>
{% endblock %}
