@import "mixins";
@import "reset";
@import "grid";

@color-link: #ff8080;
@color-bessst: #474747;
@color-door: #00ffaa;
@color-cloud: #00aaaa;
@color-feet: #ffaa55;
@color-hammer: #ff5555;
@color-stairs: #ffffaa;
@color-window: #5500ff;
@color-diapason: #aaaaaa;

@font-size: 18px;
@line-height: 21px;
@font-size-small:15px;
@line-height-small:19px;
/*@font-size-smallplus:18px;*/
@font-size-mid:21px;
@font-size-big:35px;
@font-family:'EB';
@font-family-sans:'Source';
@gutter: 30px;

/* Grid */

.grid(@gutter, @gutter, 12);

/* Typefaces */

@font-face {
    font-family: EB;
    src: url("../type/EBGaramond-Regular.ttf");
}

@font-face {
    font-family: Source;
    src: url("../type/SourceSansPro-Light.ttf");
}
@font-face {
    font-family: Source;
    src: url("../type/SourceSansPro-LightItalic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Source;
    src: url("../type/SourceSansPro-Regular.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Source;
    src: url("../type/SourceSansPro-Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: K;
    src: url("../type/Karla-Regular.ttf");
}

@font-face {
    font-family: KBold;
    src: url("../type/Karla-Bold.ttf");
}

/* Typography */

body {
    line-height: 21px;
    font-family: @font-family-sans, Sans;
}

a, a.visited, a:hover{ 
    color:black;
    text-decoration:underline;
} 
a:hover{ 
    text-decoration: none;
}

p {
    font-family: @font-family;
    font-size: @font-size;
    line-height: @line-height;
    margin-right: @gutter;
}
p + p {
    text-indent: @gutter;
}

/*p.intro {*/
    /*font-size: @font-size-big;*/
    /*line-height: 31px;*/
    /*font-family: @font-family,'Bitstream Charter';*/
    /*margin: 0px;*/
/*}*/

/*p.project  {*/
    /*font-size: 18px;*/
    /*font-family: @font-family-sans, Sans;*/
    /*line-height: 21px;*/
/*}*/


/* Forms */
input[type="submit"]{
    border: 2px solid black;
    /*margin-top: 6px;*/
    background: white;
    font-family: @font-family-sans;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}

h1 {
    text-transform : uppercase;
    text-align: center;
    font-size: @font-size-big;
    /*font-family: @font-family,'Bitstream Charter';*/
    /*margin-bottom: 78px;*/
}

h2 {
    font-size: @font-size;
    text-align: center;
    text-transform : uppercase;
    font-family: @font-family;
}

p+h2 {
    margin-top: 20px;
}

h3 {
    font-size: @font-size;
    font-family: @font-family-sans;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 6px;
    /*span {*/
        /*display: block;*/
        /*font-family: @font-family;*/
        /*font-size: 40px;*/
        /*margin-bottom: 8px;*/
    /*}*/
 }
 
p+h3 {
    margin-top: 18px;
}

em {
    font-family: @font-family-sans;
    font-weight: bold;
    color: @color-bessst;
    text-transform: lowercase;
}


blockquote p {
    font-family: @font-family-sans;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}


/* Table of contents */

#sommaire { 
    position : fixed;
    margin-left : 700px;
    width: 250px;
    margin-top : @gutter;
    text-decoration: none;
    font-size: @font-size;
    line-height: 21px;
    font-family: @font-family;

    li {
        list-style-type: lower-roman;
        margin-bottom: 3px;
        a {
            text-decoration: none;
        }
        li {
            margin-left: @font-size;
            list-style-type: decimal;
        }
    }
}

/* General layout */
canvas#background {
    position: fixed;
    top: -150px;
    left: 0;
    width: 100%;
    z-index: -1000;
}
figure#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    height: 100%;
    width: 100%;

    div#background-gradient {
        height: 100%;
        width: 100%;
        background-repeat: repeat-x;
        background-position: bottom;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }
}
header {
    h1 {
        clear: both;
        background-color: white;
        border: 7px double yellow;
        margin: 0 @gutter;
        
        padding: @gutter/2 0;
    }
    h1#info-zone {
        visibility: hidden;
    }
}
footer {
    position: fixed;
    bottom: @gutter/2;
    right: @gutter;

    .prev,
    .next {
        float: left;
        padding: @gutter/2 @gutter/4;
        font-weight: bold;
    }

    div#caption-list {
        font-family:'EB';
        background-color: white;
        border: 7px double black;
        height: 32px;
        padding: @gutter/4;
        padding-top: 11px;
        padding-bottom: 3px;
        color: black;
        float: left;
    }
    div.caption {
        display: none;
    }
    div.caption.visible {
        display: block;
    }
}

ul {
    margin-top: 10px;
}


ul li {
    list-style-type: none;
}

section ul li:before{
    content:"— ";
}


dt {
    text-transform: uppercase;
    font-weight: bold;
}
div#container {
    padding-top: 2*@gutter;
}
section#main {
    clear: both;
    margin-top: @gutter;
    margin-left: 30px;
    z-index: 900;
}
section#right {
    text-align: center; 
    width: 45%;
    float: left;
    z-index: 900;
}

.big {
    width: 45%;
    
}

.box {
    .box-sizing(border-box);
    background-color: white;
    padding: @gutter;
    border: 2px solid black;
    float: left;
    margin-left : 30px;
}

ul#project-list .box {
    /*display: none;*/
    border-width: 2px;
    padding: 20px;
    margin-top:-2px;
    text-align: center;
}

ul#project-list .box:before {
    content:"";
    }

.project-list-title {
    font-family: @font-family;
    font-size: @font-size-mid;
    line-height: 23px;
    text-align : center;
    text-decoration: none;
}

a.project-list-title:hover{
    text-decoration: underline;
}


.columns {
    /*margin-top: @gutter;*/
    column-count: 2;  
    -moz-column-count: 2;  
    -webkit-column-count: 2;  
    column-gap: @gutter/2;
    -moz-column-gap: @gutter/2;
    -webkit-column-gap: @gutter/2;
    
    p {
        font-family: @font-family-sans;
        font-size: @font-size-small;
        line-height: @line-height-small;
    }
}

ul#project-list li {
    display: inline;
}

object.metadata-axis {

}
dl#metadata {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 45%;
    float: none;
    text-align: center;
}

/*div.more {*/
    /*display: none;*/
/*}*/
/*div.summary:hover div.more {*/
    /*display: block;*/
/*}*/

/*div.container {*/
    /*.clearfix();*/
    /*margin: @gutter*2 auto;*/
    /*width: 900px;*/
/*}*/

/*div.major {*/
    /*width: 600px;*/
    /*float: left;*/
/*}*/

/*div.minor {*/
    /*width: 250px;*/
    /*float: left;*/
    /*margin-left: 20px;*/
/*}*/
/*div#header{*/
    /*margin-bottom: 200px;*/
    /*}*/

/*div#text {*/
    /*.box-sizing(border-box);*/
    /*width: 600px;*/
    /*float: left;*/
    /*margin-bottom: @gutter/2;*/
/*}*/

/*div#newsletter {*/
    /*width: 250px;*/
    /*float: left;*/
/*}*/

/*#meer {*/
    /*margin-top:9px;*/
/*}*/

/*#project{*/
    /*width: 600px;*/
/*}*/


// Positioning boxes

.logo {
    float: left;
    .clearfix();
}

.logo object {
   margin: 0px auto;
}

.logo .drag {
    position: absolute;
    width: 100%;
    height: 100%;
}

// Nav

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
    padding: @gutter/2 @gutter;
    ul {
        float: left;
        li {
            float: left;
            list-style: none;
            text-transform: lowercase;
            a {
                text-decoration: none;
            }
            line-height: @font-size;
        }
    }
    ul#logo {
        font-size: @font-size-big;
        margin-right: 2 * @font-size-big;
    }
    ul#navi {
        li {
            margin-right: @font-size;
        }
    }
    ul#lan {
        float: right;
        margin-right: @gutter*2;

        li {
            margin-left: @gutter/2;
        }
    }
}

// AXIS

.cloud {
    border-color: @color-cloud;
}
.door {
    border-color: @color-door;
}
.feet {
    border-color: @color-feet;
}
.hammer {
    border-color: @color-hammer;
}
.window {
    border-color: @color-window;
}
.diapason {
    border-color: @color-diapason;
}
.stairs {
    border-color: @color-stairs;
}
