/* CSS declarations go here */

@color-link: #ff8080ff;
@font-size-small:15px;
@font-size-mid:18px;
@font-size-big:27px;
@font-family-intro:'EB';
@font-family-project:'K';
@font-family-bold:'KBold';


@font-face {
	font-family: EB;
	src: url("./EBGaramond-Regular.ttf");
}

@font-face {
	font-family: K;
	src: url("./Karla-Regular.ttf");
}

@font-face {
	font-family: KBold;
	src: url("./Karla-Bold.ttf");
}


body {
    line-height: 18px;
    font-family: @font-family-intro,'Bitstream Charter';
}

p {
	font-size: 18px;
	margin-bottom: 18px;
}

p.intro {
	font-size: 27px;
	line-height: 31px;
	font-family: @font-family-intro,'Bitstream Charter';
}

p.project  {
	font-size: 18px;
	font-family: @font-family-project, Sans;
	line-height: 21px;
}

.meer  {
	font-size: @font-size-small;
	font-family: @font-family-project, Sans;
	line-height: 18px;
	margin-left : 30px;
}

.meer a:link { 
	font-family: @font-family-bold;
	color:black;
	text-decoration:underline;
} 

.meer a:visited { 
	color:black;
} 

