/* CSS declarations go here */

body {
    line-height: 18px;
    font-family: 'Bitstream Charter';
}

p {
    font-size: 18px;
    margin-bottom: 18px;
}

p.intro {
    font-size: 27px;
    line-height: 31px;
}

